{% extends 'base.html' %} 

{% block link %} 
<link href="{{ url_for('static', filename='styles/profile.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %} 

        <div class="container">

            <header>
                <div class="profile">
                    <img id="pfp" src="{{ pfp }}" alt="Profile Picture">
                    <h3 id="username">{{ name }}</h3>
                    <p id="description">{{ description }}</p>
                </div>
            </header>


            <div class="boxes">
                {% for link in lnks %}
                <div class="box">
                    <a href="{{ link.url }}"><h5>{{ link.title }}</h5></a>
                </div>
                {% endfor %}
                
            </div>
            
        </div>

 {% endblock %}