{% extends 'base.html' %} 

{% block link %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="form-group">
      
            <form action='/edit-lnk/{{ link.id }}' method="POST">
                <div class="title"><h1>Update Link</h1></div>


                <div class="form-label">
                    <label for="title">Title</label>
                    <br>
                    <input type="text" name="title" value="{{ title }}">
                </div>
                
                <div class="form-label">
                    <label for="url">Url</label>
                    <br>
                    <input type="text" name="url" value="{{ url }}">
                </div>
                
                <div class="buttons">
                    <a style="color:red; font-size: 16px;" href="/delete-lnk/{{ link.id }}">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <button>Update Link</button>
                    <!-- <input type="submit" id="update_link" value="Update Link"></div> -->
                </div>
                
                
            </form>
</div> 


{% endblock %}